@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,600);
@import url(../node_modules/normalize.css/normalize.css);
html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

/*Add Color Palette*/
/*Font Variables*/
/*#949798*/
body { /*header*/ /*main*/ }
body header { /*header nav*/ /*#heroWrapper*/ }
body header nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; position: fixed; background: white; width: 100%; /*header ul*/ }
body header nav ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; /*header li*/ }
body header nav ul li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-right: 3em; }
body header #heroWrapper article img { margin: 0; width: 100%; }
body main { /*h2*/ /*p, li*/ /*scene*/ /*whyMonico*/ /*aboutUs*/ /*testimony*/ /*contact*/ }
body main h2 { text-align: center; font-family: "lato"; text-transform: uppercase; font-size: 3rem; letter-spacing: 7px; line-height: 2em; }
body main p, body main li { font-family: "merriweather"; font-size: 2em; line-height: 2em; font-weight: 300; }
body main .scene { margin: auto; width: 80%; }
body main #whyMonico { padding: 5em; background-color: #DFE0E2; /*p*/ /*ul*/ }
body main #whyMonico p { text-align: center; }
body main #whyMonico ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; /*li*/ }
body main #whyMonico ul li { list-style: none; display: inline-block; width: calc(100% / 2); text-align: center; font-family: "libre+baskerville"; font-weight: 300; font-size: 24px; }
body main #aboutUs { padding: 5em; }
body main #testimony { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; background-color: #EB5160; z-index: -100; }
body main #testimony .quotes { width: 100%; }
body main #testimony #leftHolder { position: absolute; height: 100%; width: 10%; top: 0; left: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
body main #testimony #rightHolder { position: absolute; height: 100%; width: 10%; top: 0; right: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
body main #contact { /*article*/ }
body main #contact article { text-align: center; /*ul*/ }
body main #contact article ul { /*span*/ }
body main #contact article ul li { list-style: none; line-height: normal; }
body main #contact article ul span { line-height: 5em; }

/*body*/
