@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400);

/*Add Color Palette*/

$light : #f4f1de;
$orange : orange;
$blue :   #3d405b;
$yellow : #f2d398;
$green : #81b29A;


/*Font Variables*/
$headerFont: "lato";
$normalFont: "merriweather";
$listFont: "libre+baskerville";

$thin               :300;
$normal             :400;
$bold               :700;
$heavy              :900;


$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}