@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,600);

/*Add Color Palette*/

$light  : #DFE0E2;
$gray   : #AAA;
$purple : #B7999C;
$red    : #EB5160;
$black  : #071013;
$hero   : #949798;
$orange : #EE682E;


/*Font Variables*/
$headerFont: "lato";
$normalFont: "merriweather";
$listFont: "libre+baskerville";
$heroFont: "open+sans";

$thin               :300;
$normal             :400;
$bold               :700;
$heavy              :900;


$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}


/*#949798*/