 @import "bourbon";
 @import "bourbon", "neat";
 @import "variables.scss";
 @import "../node_modules/normalize.css/normalize.css";



body{

   header {
    nav{
      display: flex;
      justify-content: space-between;
      position: fixed;
      background: white;
      width: 100%;
      ul{
        display: flex;
        li{
          display: flex;
          margin-right: 3em;
        } /*header li*/
      } /*header ul*/
    } /*header nav*/

    #heroWrapper{

      article img {
        margin: 0;
        width: 100%;
      }
    }/*#heroWrapper*/
  } /*header*/



  main {
    h2 {
      text-align: center;
      font-family: $headerFont;
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 7px;
      line-height: 2em;
    }/*h2*/
    p, li {
      font-family: $normalFont;
      font-size: 2em;
      line-height: 2em;
      font-weight: $thin;
    }/*p, li*/
    .scene {
      margin: auto;
      width: 80%;
    }/*scene*/
    #whyMonico {
      padding: 5em;
      background-color: $light;
      p {
        text-align: center;
      }/*p*/
      ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;    
        li {
          list-style: none;
          display: inline-block;
          width: calc(100% / 2);
          text-align: center;
          font-family: $listFont;
          font-weight: $thin;
          font-size: 24px;
        }/*li*/
      }/*ul*/
    }/*whyMonico*/
    #aboutUs {
      padding: 5em;
    }/*aboutUs*/
    #testimony {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $red;
      z-index: -100;
      height: 30em;

      .quotes{
        width: 100%;
      }
      img{
        height: 5em;
        display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      }

      #leftHolder{
        position: absolute;
        height: 100%;
        width: 10%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;

        } 

        #rightHolder{
        position: absolute;
        height: 100%;
        width: 10%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
      }
    }/*testimony*/




    #contact {
      article {
        text-align: center;
        ul {
          li {
            list-style: none;
            line-height: normal;
          }
          span{
            line-height: 5em;
          }/*span*/
        }/*ul*/
      }/*article*/
    }/*contact*/
  }/*main*/
}/*body*/

